body {
    background-image: url("media/bg.png");
    background-repeat: repeat;
    padding-top: 12rem;
    background-color:rgb(68, 68, 68);
}

img.center {
    display: block;
    margin: 0 auto;
}