---
layout: null
title: ZENVENT
description: Home
sitemap:
    priority: 1.0
    lastmod: 2018-7-08
    changefreq: weekly
---
<!DOCTYPE HTML>
<html>
	<head>
    {% include head.html %}


	</head>
	<body class="is-loading">

		<!-- Wrapper -->
		<div id="wrapper" class="fade-in">
	
			<!-- Header -->
			<header id="header">
				<a href="{{ "/" | absolute_url }}" class="logo">{{site.title}}</a>
			</header>
	
	
			<!-- Nav -->
			<nav id="nav">
				{% include nav.html %}
			</nav>
	
			<!-- Main -->
			<div id="main">
	
				<!-- Featured Post -->
				<article class="post featured">
						<div class="postCard" onclick="location.href='{{ post.url | absolute_url }}';" style="cursor: pointer;">
						{% assign post = site.posts.first %}
					
					<a href="{{ post.url | absolute_url }}" class="image fit">
						<img src="{{ post.image | absolute_url }}" alt="" />
					</a>
					<header>
							<h2>
									<a href="{{ post.url | absolute_url }}">{{ post.title }}</a>
							</h2>
						</header>
					<a href="{{ post.url | absolute_url }}">{{ post.excerpt }}</a>
					</div>
				</article>

				<section class="posts">
					{% for post in site.posts offset:1 %}
					<article>
						<div class="postCard" onclick="location.href='{{ post.url | absolute_url }}';" style="cursor: pointer;">
						<a href="{{ post.url | absolute_url }}" class="image fit">
							<img src="{{ post.image | absolute_url }}" alt="" />
						</a>
						<header>
								<h2>
									<a href="{{ post.url | absolute_url }}">{{ post.title }}</a>
								</h2>
							</header>
						<a href="{{ post.url | absolute_url }}">{{ post.excerpt }}</a>
					</div>
					</article>
					{% endfor %}
				</section>
			
			</div>
	
			<!-- Footer -->
			{% include foot.html %}
	
		</div>
	
		<!-- Scripts -->
		{% include scripts-main.html %} {% include tracking.html %}
	
	</body>
</html>
